# The warewulf rpm pulls in nfs-utils, dhcp, and tftp-server
---
- name: Install epel-release
  ansible.builtin.dnf:
    name: epel-release
    state: latest
- name: Enable crb
  ansible.builtin.command:
    cmd: dnf config-manager --set-enabled crb
- name: Install epel rpms
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  with_items:
    - gnome-extensions-app
    - gnome-shell-extension-caffeine
    - dnf-plugins-core
# ohpc 3.3.1
# ohpc-warewulf is warewulf 3.10
# warewulf-ohpc is warewulf 4.6.1
# slurm is 24.11.5
- name: Install OpenHPC rpms
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
    disable_gpg_check: true
  with_items:
    - "{{ ohpc_release_url }}"
    - ohpc-base-3.3
    - docs-ohpc
    - warewulf-ohpc-4.6.1
    - hwloc-ohpc
    - ohpc-slurm-server
- name: Disable firewalld
  ansible.builtin.service:
    name: firewalld
    state: stopped
    enabled: false
- name: Configure chrony
  ansible.builtin.copy:
    src: etc/chrony.conf
    dest: /etc/chrony.conf
    owner: root
    group: root
    mode: 0644
- name: Enable and start chronyd
  ansible.builtin.service:
    name: chronyd
    state: restarted
    enabled: true
- name: Down enp2s0
  ansible.builtin.command:
    cmd: nmcli con down enp2s0
  register: nmcli_result
  # Returns 10 when trying to down a downed interface
  failed_when: nmcli_result.rc not in [0, 10]
- name: Configure enp2s0
  ansible.builtin.command:
    cmd: "{{ item }}"
  with_items:
    - nmcli con modify enp2s0 ipv4.addresses "10.0.0.1/16"
    - nmcli con modify enp2s0 ipv4.method manual
    - nmcli con modify enp2s0 ipv6.method link-local
    - nmcli con modify enp2s0 connection.autoconnect yes
- name: Up enp2s0
  ansible.builtin.command:
    cmd: nmcli con up enp2s0
  register: nmcli_result
  failed_when: nmcli_result.rc not in [0]
- name: Copy warewulf.conf
  ansible.builtin.copy:
    src: etc/warewulf/warewulf.conf
    dest: /etc/warewulf/warewulf.conf
    owner: root
    group: root
    mode: 0644
# This is /etc/slurm/slurm.conf.ohpc with
# SlurmctldHost=ww1-head1
# the node configuration at the bottom changed
- name: Configure slurm
  ansible.builtin.copy:
    src: etc/slurm/slurm.conf
    dest: /etc/slurm/slurm.conf
    owner: root
    group: root
    mode: 0644
- name: Configure slurm cgroups
  ansible.builtin.copy:
    src: /etc/slurm/cgroup.conf.example
    dest: /etc/slurm/cgroup.conf
    remote_src: true
    owner: root
    group: root
    mode: 0644
# - name: Change slurm resource manager hostname
#   ansible.builtin.command:
#     cmd: 'perl -pi -e "s/SlurmctldHost=\S+/SlurmctldHost=ww1-head1/" /etc/slurm/slurm.conf'

